
/*
   Addon for Drupal's right to left language support. 
*/

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16 {
  float: right;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 10px;
  margin-right: 0;
}

.omega {
  margin-left: 0;
  margin-right: 10px;
}

/* `Prefix and Suffix Extra Space Reset >> 12 and 16 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .prefix-1,
.container-12 .prefix-2,
.container-12 .prefix-3,
.container-12 .prefix-4,
.container-12 .prefix-5,
.container-12 .prefix-6,
.container-12 .prefix-7,
.container-12 .prefix-8,
.container-12 .prefix-9,
.container-12 .prefix-10,
.container-12 .prefix-11,
.container-16 .prefix-1,
.container-16 .prefix-2,
.container-16 .prefix-3,
.container-16 .prefix-4,
.container-16 .prefix-5,
.container-16 .prefix-6,
.container-16 .prefix-7,
.container-16 .prefix-8,
.container-16 .prefix-9,
.container-16 .prefix-10,
.container-16 .prefix-11,
.container-16 .prefix-12,
.container-16 .prefix-13,
.container-16 .prefix-14,
.container-16 .prefix-15 {
  padding-left: 0;
}

.container-12 .suffix-1,
.container-12 .suffix-2,
.container-12 .suffix-3,
.container-12 .suffix-4,
.container-12 .suffix-5,
.container-12 .suffix-6,
.container-12 .suffix-7,
.container-12 .suffix-8,
.container-12 .suffix-9,
.container-12 .suffix-10,
.container-12 .suffix-11,
.container-16 .suffix-1,
.container-16 .suffix-2,
.container-16 .suffix-3,
.container-16 .suffix-4,
.container-16 .suffix-5,
.container-16 .suffix-6,
.container-16 .suffix-7,
.container-16 .suffix-8,
.container-16 .suffix-9,
.container-16 .suffix-10,
.container-16 .suffix-11,
.container-16 .suffix-12,
.container-16 .suffix-13,
.container-16 .suffix-14,
.container-16 .suffix-15 {
  padding-right: 0;
}

/* `Prefix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container-12 .prefix-3,
.container-16 .prefix-4 {
  padding-right: 240px;
}

.container-12 .prefix-6,
.container-16 .prefix-8 {
  padding-right: 480px;
}

.container-12 .prefix-9,
.container-16 .prefix-12 {
  padding-right: 720px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .prefix-1 {
  padding-right: 80px;
}

.container-12 .prefix-2 {
  padding-right: 160px;
}

.container-12 .prefix-4 {
  padding-right: 320px;
}

.container-12 .prefix-5 {
  padding-right: 400px;
}

.container-12 .prefix-7 {
  padding-right: 560px;
}

.container-12 .prefix-8 {
  padding-right: 640px;
}

.container-12 .prefix-10 {
  padding-right: 800px;
}

.container-12 .prefix-11 {
  padding-right: 880px;
}

/* `Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container-16 .prefix-1 {
  padding-right: 60px;
}

.container-16 .prefix-2 {
  padding-right: 120px;
}

.container-16 .prefix-3 {
  padding-right: 180px;
}

.container-16 .prefix-5 {
  padding-right: 300px;
}

.container-16 .prefix-6 {
  padding-right: 360px;
}

.container-16 .prefix-7 {
  padding-right: 420px;
}

.container-16 .prefix-9 {
  padding-right: 540px;
}

.container-16 .prefix-10 {
  padding-right: 600px;
}

.container-16 .prefix-11 {
  padding-right: 660px;
}

.container-16 .prefix-13 {
  padding-right: 780px;
}

.container-16 .prefix-14 {
  padding-right: 840px;
}

.container-16 .prefix-15 {
  padding-right: 900px;
}

/* `Suffix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container-12 .suffix-3,
.container-16 .suffix-4 {
  padding-left: 240px;
}

.container-12 .suffix-6,
.container-16 .suffix-8 {
  padding-left: 480px;
}

.container-12 .suffix-9,
.container-16 .suffix-12 {
  padding-left: 720px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .suffix-1 {
  padding-left: 80px;
}

.container-12 .suffix-2 {
  padding-left: 160px;
}

.container-12 .suffix-4 {
  padding-left: 320px;
}

.container-12 .suffix-5 {
  padding-left: 400px;
}

.container-12 .suffix-7 {
  padding-left: 560px;
}

.container-12 .suffix-8 {
  padding-left: 640px;
}

.container-12 .suffix-10 {
  padding-left: 800px;
}

.container-12 .suffix-11 {
  padding-left: 880px;
}

/* `Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container-16 .suffix-1 {
  padding-left: 60px;
}

.container-16 .suffix-2 {
  padding-left: 120px;
}

.container-16 .suffix-3 {
  padding-left: 180px;
}

.container-16 .suffix-5 {
  padding-left: 300px;
}

.container-16 .suffix-6 {
  padding-left: 360px;
}

.container-16 .suffix-7 {
  padding-left: 420px;
}

.container-16 .suffix-9 {
  padding-left: 540px;
}

.container-16 .suffix-10 {
  padding-left: 600px;
}

.container-16 .suffix-11 {
  padding-left: 660px;
}

.container-16 .suffix-13 {
  padding-left: 780px;
}

.container-16 .suffix-14 {
  padding-left: 840px;
}

.container-16 .suffix-15 {
  padding-left: 900px;
}

/* `Push Space >> Global
----------------------------------------------------------------------------------------------------*/

.container-12 .push-3,
.container-16 .push-4 {
  right: 240px;
}

.container-12 .push-6,
.container-16 .push-8 {
  right: 480px;
}

.container-12 .push-9,
.container-16 .push-12 {
  right: 720px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .push-1 {
  right: 80px;
}

.container-12 .push-2 {
  right: 160px;
}

.container-12 .push-4 {
  right: 320px;
}

.container-12 .push-5 {
  right: 400px;
}

.container-12 .push-7 {
  right: 560px;
}

.container-12 .push-8 {
  right: 640px;
}

.container-12 .push-10 {
  right: 800px;
}

.container-12 .push-11 {
  right: 880px;
}

/* `Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container-16 .push-1 {
  right: 60px;
}

.container-16 .push-2 {
  right: 120px;
}

.container-16 .push-3 {
  right: 180px;
}

.container-16 .push-5 {
  right: 300px;
}

.container-16 .push-6 {
  right: 360px;
}

.container-16 .push-7 {
  right: 420px;
}

.container-16 .push-9 {
  right: 540px;
}

.container-16 .push-10 {
  right: 600px;
}

.container-16 .push-11 {
  right: 660px;
}

.container-16 .push-13 {
  right: 780px;
}

.container-16 .push-14 {
  right: 840px;
}

.container-16 .push-15 {
  right: 900px;
}

/* `Pull Space >> Global
----------------------------------------------------------------------------------------------------*/

.container-12 .pull-3,
.container-16 .pull-4 {
  right: -240px;
}

.container-12 .pull-6,
.container-16 .pull-8 {
  right: -480px;
}

.container-12 .pull-9,
.container-16 .pull-12 {
  right: -720px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .pull-1 {
  right: -80px;
}

.container-12 .pull-2 {
  right: -160px;
}

.container-12 .pull-4 {
  right: -320px;
}

.container-12 .pull-5 {
  right: -400px;
}

.container-12 .pull-7 {
  right: -560px;
}

.container-12 .pull-8 {
  right: -640px;
}

.container-12 .pull-10 {
  right: -800px;
}

.container-12 .pull-11 {
  right: -880px;
}

/* `Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container-16 .pull-1 {
  right: -60px;
}

.container-16 .pull-2 {
  right: -120px;
}

.container-16 .pull-3 {
  right: -180px;
}

.container-16 .pull-5 {
  right: -300px;
}

.container-16 .pull-6 {
  right: -360px;
}

.container-16 .pull-7 {
  right: -420px;
}

.container-16 .pull-9 {
  right: -540px;
}

.container-16 .pull-10 {
  right: -600px;
}

.container-16 .pull-11 {
  right: -660px;
}

.container-16 .pull-13 {
  right: -780px;
}

.container-16 .pull-14 {
  right: -840px;
}

.container-16 .pull-15 {
  right: -900px;
}
